.home{
    padding: 220px 12px;
    background: url('../images/hero-bg.png') no-repeat center var(--color-primary);
}

.home-text h1{
    font-size: var(--font-small-title);
    max-width: 10ch;
    color: #fff;
    margin-bottom: var(--mg-bottom);
}


@media (min-width:1042px){
    .home-text h1{
        font-size: var(--font-large-title);
    }
}